body{
    background-color: black;
}

h1{
    color: aliceblue;
    text-transform: uppercase;
}

p{
    color: aliceblue;
    
}

img{
    width: 100%;
    border: 5px red solid;
    margin-top: 100px;  
}

div{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
